##########################
# IDS 706 FINAL PROJECT

# exclude everything in every folder
/data/**/*.*
/conf/**
/results/**
/env/**

# include only .gitkeep files
!/data/**/*.gitkeep

# also keep all .gitkeep files
!.gitkeep

##########################
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
