<html>
<body>
    <h1>Predict a Sneaker's Resale Value!</h1>
    <h3>To predict the resale value of a sneaker, enter the information below:</h3>
    <form method="POST">
    <label for="SneakerName">Sneaker Name:</label>
    <input name="SneakerName"><br>
    <label for="BrandName">Brand Name:</label>
    <select id="BrandName" name="BrandName">
        <option value="Adidas">Adidas</option>
        <option value="Air Jordan">Air Jordan</option>
        <option value="Asics">Asics</option>
        <option value="Converse">Converse</option>
        <option value="Jordan Brand">Jordan Brand</option>
        <option value="New Balance">New Balance</option>
        <option value="Nike">Nike</option>
        <option value="Nike Basketball">Nike Basketball</option>
        <option value="Nike Running">Nike Running</option>
        <option value="Other Brands">Other Brands</option>
        <option value="Puma">Puma</option>
        <option value="Reebok">Reebok</option>
    </select><br>
    <label for="RetailPrice">Retail Price [int]:</label>
    <input name="RetailPrice"><br>
    <label for="Date">Date [MM/DD/YYYY]:</label>
    <input name="Date"><br>
    <label for="Sex">Sex:</label>
    <select id="Sex" name="Sex">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
    </select><br>
    <label for="Collab">Collab?</label>
    <select id="Collab" name="Collab">
        <option value="No">No</option>
        <option value="Yes">Yes</option>
    </select><br>
    <label for="Retro">Retro?</label>
    <select id="Retro" name="Retro">
        <option value="No">No</option>
        <option value="Yes">Yes</option>
    </select><br>
    <label for="Kids">Kids Shoe?</label>
    <select id="Kids" name="Kids">
        <option value="No">No</option>
        <option value="Yes">Yes</option>
    </select><br>
    <input type="submit">
</form></body>
</html>